/* 초기화 코드 */
* { margin: 0; padding: 0; }
body { 
	font-family: "VT323", monospace, 'Times New Roman', serif;
  	font-weight: 400;
  	font-style: normal;

	width: 1440px;
	height: 900px;
	position: relative;
	background-color: gray;
	margin: 0 auto;
}
li { list-style: none; }
a { text-decoration: none; }
img { border: 0; }
input { display: none;}



/************************* scenario related ************************/
#animation-image {
	position: absolute;
	width: 610px;
	height: 360px;
	left: 150px;
	top: 90px;
	background: white;

}
#slideshow-container {
	width: 910px;
	height: 900px;
	background-image: url('brickBackground.jpg');
	position: relative;
	left: 256px;
	right: 256px;
	display: none;
}

#scenario-image {
	position: absolute;
    width: 610px;
    height: 360px;
    /*object-fit: cover; /* 컨테이너에 맞춰 이미지 조정 */
    border: 3px solid #333;
    margin-bottom: 10px;


}

#scenario-description {
	text-align: center;
	left: 150px;
	position: absolute;
	top: 530px;
    font-size: 18px;
    margin-bottom: 10px;
    width: 610px; /* 이미지와 같은 너비 */
    height: 100px; /* 적당한 높이 설정 */
    background-color: #f0f0f0; /* 배경색 설정 */
    resize: none; /* 크기 조절 기능 제거 */
    padding: 10px; /* 내부 여백 추가 */
    box-sizing: border-box; /* 패딩을 포함한 너비 설정 */

}

/************************* setting related ************************/
/*
#setting-popup {
	position: absolute;
	height: 400px;
	width: 600px;
	top: 150px;
	left: 415px;
	background-color: gray;
	z-index: 1;
	border-radius: 15px;
}
*/

#setting-page {
	width: 910px;
	height: 900px;
	background-image: url('brickBackground.jpg');
	position: absolute;
	left: 256px;
	right: 256px;
	display: none;
}

#config-box {
	position: absolute;
	height: 630px;
	width: 700px;
	border: 8px solid wheat;
	left: 105px;
	top: 170px;
}

#mute-btn {
	height: 80px;
	width: 80px;
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: aquamarine;
}

.music-row {
	width: 100%;
	position: absolute;
	top: 120px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 5px;
}

.music-label {
	width: 200px;
	height: 70px;
	line-height: 70px;
	border-radius: 10px;
	background-color: aquamarine;
	display: block;
}

#color-container {
	position: absolute;
	width: 100%;
	top: 270px;
}

#color {
	position: absolute;
	left: 120px;
}

#color-choose {
	position: absolute;
	top: 100px;
	left: 290px;
	width: 150px;
	height: 60px;
	line-height: 60px;
	background-color: wheat;
	border-radius: 30px;
}

#color-choose label {
	padding-left: 10px;
}

input[type="color"] {
	display: block;
	margin-left: 10px;
	margin-bottom: 5px;
}
input[type="color" i] {
	border-radius: 50%;
	inline-size: 30px;
	block-size: 30px;

	/* Can set padding between outer circle and color swatch for Firefox here;
     * it doesn't support a color-swarch-wrapper pseudoclass
     */
	padding: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(153, 153, 153);
	opacity: 1;
}

input[type="color" i]::-webkit-color-swatch-wrapper {
	padding: 1px;
}

/* Affects the inner circle, i.e. the current color selection */
input[type="color" i]::-webkit-color-swatch {
	border-radius: 50%;
}

#colorpicker {
	position: absolute;
	left: 90px;
	top: 15px;
}

.setting-btn {
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 110px;
	height: 60px;
	border-radius: 10px;
}

#apply-btn {
	position: absolute;
	right: 110px;
}

/******************************************************************/
/********************** stage-menu related ************************/
#stage-menu {
	width: 910px;
	height: 900px;
	background-image: url('brickBackground.jpg');
	position: absolute;
	left: 256px;
	right: 256px;
}

#stage-menu-title {
	position: absolute;
	left: 227px;
	top: 110px;
	width: 455px;
	height: 110px;
	display: block;
	border: 5px solid #C27F30;
	padding-top: 20px;
	text-align: center;
	border-radius: 15px;
	background-color: gray;
}

#stage1 {
	position: absolute;
	left: 71px;
	top: 350px;
	display: block;
	width: 230px;
	height: 200px;
	border: 5px solid #C27F30;
	background-image: url('stage1.gif');
	background-size: cover;
}

#stage1:hover {
	border: 10px solid #00FFFF;
}

#stage2 {
	position: absolute;
	left: 340px;
	top: 350px;
	display: block;
	width: 230px;
	height: 200px;
	border: 5px solid #C27F30;
	background-image: url('stage2.gif');
	background-size: cover;
}

#stage2:hover {
	border: 10px solid #00FFFF;
}

#stage3 {
	position: absolute;
	left: 609px;
	top: 350px;
	display: block;
	width: 230px;
	height: 200px;
	border: 5px solid #C27F30;
	background-image: url('stage3.gif');
	background-size: cover;
}

#stage3:hover {
	border: 10px solid #00FFFF;
}

#stage-menu-mainbtn {
	position: absolute;
	left: 330px;
	top: 620px;
	width: 250px;
	height: 100px;
	border-radius: 10px;
}



/******************************************************************/
/************************* stage related **************************/
#ingame {
	display: none;
}

#stage-left {
	position: absolute;
	left: 60px;
	width: 200px;
	height: 900px;
	background-color: white;
}

#stage-right {
	position: absolute;
	right: 60px;
	width: 200px;
	height: 900px;
	background-color: white;
}

#stage-wrapper {
	width: 910px;
	height: 900px;
	top: 0;
	left: 265px;
	right: 265px;
	position: absolute;
	background-image: url('brickBackground.jpg');
}

#stage {
	text-align: center;
	margin: 100px auto 0 auto;
	height: 500px;
}

canvas {
	display: inline;
	background-color: white;
}

#score {
	display: none;
	position: absolute;
	height: 400px;
	width: 600px;
	top: 150px;
	left: 420px;
	background-image: url('scoreBackground.png');
	background-size: 100%;
	z-index: 1;
	border-radius: 15px;
	border: 2px solid #E9AB17;

}

#score > img {
	display: block;
	position: absolute;
	top: 50px;
	left: 180px;
}

#score-result {
	background-color: white;
	position: absolute;
	top: 110px;
	left: 175px;
	width: 220px;
	height: 150px;

	padding-top: 50px;
	padding-left: 20px;

	font-size: 25px;

	border-radius: 2px;
	border: 4px solid #E9AB20;
}

#score-stage-btn {
	position: absolute;
	background-color: #FFDEAD;
	color: #B8860B;
	top: 330px;
	left: 240px;
	height: 50px;
	width: 100px;

	text-align: center;
	font-size: 40px;	
	color: #B8860B;
	border: 4px solid #E9AB20;
	border-radius: 15px;
}

#score-stage-btn:hover {
	color: white;
	border-color: #FFDEAD;
	background-color: #E9AB20;
}

/******************************************************************/
/******************************************************************/
/************************* Main-Menu related **************************/
#main-menu {
	width: 910px;
	height: 900px;
	background-image: url('brickBackground.jpg');
	position: absolute;
	left: 256px;
	right: 256px;
	display: none;
}

#main-menu-start-btn {
	position: absolute;
	left: 330px;
	top: 530px;
	width: 250px;
	height: 100px;
	border-radius: 10px;
}

#main-menu-setting-btn {
	position: absolute;
	left: 330px;
	top: 650px;
	width: 250px;
	height: 100px;
	border-radius: 10px;
}

#main-menu-img {
	position: absolute;
	width: 610px;
	height: 360px;
	left: 150px;
	top: 90px;
	background: aquamarine;
}